.mainnav ul {
  display: flex;
  justify-content: center;
}

.mainnav ul li {
  display: flex;
  text-decoration: none;
  margin: 0px 30px;
  font-weight: bold;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainHeading {
  text-align: center;
}

.BlogTemp h2 {
  text-align: center;
}

.BlogTemp div {
  text-align: left;
}